#problemListPanel {
	/* float: left; */
	/* border: 1px dashed black; */
	/* padding: 10px; */
	/* margin: 10px 10px 10px 0px; */
	width: 100%;
	display: none;
}

.problemContainer {
	 margin: 5px; 
 }

.problem {
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	/*border: 2px solid #6495ED;*/
}

.problem:hover { 
   text-decoration: underline;
   color: white;
}
.problemLocked {
	background-color: #5B91B5;
}
.problemUnlocked {
	background-color: #5B91B5; /* #B5B1B1; #4897DB; #7EE693; */
	/*border-top: 2px solid #6495ED;*/
}
.problemComplete {
    background-color: #9CD1F0;
}
.problemActive {
	border: 2px solid #000000;
    /*border: 2px solid #FFFF66; 6495ED*/
}
.problemImgUnlocked {
	display: none;
}
.problemImgLocked {
	float: right;
	margin-right: 10px;
}
.problemImgComplete {
	display: inline-block;
	float: right;
}



.instructions {
	margin-top: 5px;
	background-color: white;
}

.instructions:hover {
	text-decoration: none;
	color: black;
}

.orders { 
	background-color: #FFFF66;
	/*color: #14692A;*/
	border-top: 1px solid black;
}
#ordersLabel {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
}

.trackTitle {
	line-height: 1em;
	/*font-family: inherit;*/
	font-weight: bold;
	color: #454545;
	margin: 5px 5px 10px 5px;
	/*margin-bottom: 10px;*/
}

.trackAuthor {
    color: #999;
    margin: 5px 5px 10px 5px;
    /*margin-bottom: 10px;*/
}

#canvas1 {
   /* float: left; */
   border: 1px solid black;
   margin-right: 10px;
}

#analysisDisplay {
   float: left;
   /*border: 1px dashed black;*/
   margin-right: 10px;
   /* padding-left: 20px;
   padding-right: 20px; */
   width: 100%;
   height: 50px;
}

/* Three column layout css here */

body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#topsection{
background: #EAEAEA;
height: 30px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#contentwrapper{
float: right;
width: 100%;
margin-left: -950px; /*Set left margin to -(leftColumnWidth + RightColumnWidth)*/
}

#contentcolumn{
margin-left: 950px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}

#leftcolumn{
float: left;
width: 350px; /*Width of left column in pixels*/
/* background: #C8FC98; */
}

#rightcolumn{
float: left;
width: 600px; /*Width of right column in pixels*/
/*background: #FDE95E;*/
}

#footer{
clear: both;
width: 100%;
background: black;
color: #FFF;
text-align: center;
padding: 4px 0;
display: none;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px 0px 10px 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

/* Game Console Stylings -----------------------------------------------------*/
div#gameConsole {
	font-family:"Courier New", Courier, monospace, Arial;
}

div.moveViewer {
	overflow: auto;
	border: #999 1px solid;
	padding: 1px;
}

div.moveViewerSpacer {
	/*background-color: yellow;*/
}
div#debugDisplay {
	/*background-color: yellow;*/
	height: 100px;
}

table.moveTable {
	border-spacing: 0px;
	text-align:center;
	border-left:#999 1px solid;
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;
}

table.moveTable th{
	border-top:#999 1px solid;
	padding:4px !important;
	width:20px;
}

table.moveTable td{
	border-top:#999 1px solid;
	padding:4px !important;
	width:20px;
}
.whiteMoves {
	/*background-color: green;*/
}
.blackMoves {
}
.selectedMove {
	background-color: #BCD8E6;
}
/* End Game Console Stylings -----------------------------------------------------*/

.bold {
	font-weight: bold;
}